{% extends "admin/index.html" %}
{% load i18n %}

{% block content %}
<div id="content-main">

<div class="church-roster-cards">
    {% for app in app_list %}
        {% for model in app.models %}
            <div class="church-roster-card church-roster-card--{% cycle 'blue' 'sage' 'amber' 'clay' %}">
                <h2>{{ model.name }}</h2>
                <div class="church-roster-card__links">
                    {% if model.admin_url %}
                        <a href="{{ model.admin_url }}">{% trans "View all" %}</a>
                    {% endif %}
                    {% if model.add_url %}
                        <a href="{{ model.add_url }}">{% trans "Add new" %}</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% if not app_list %}
    <p>{% trans "You don't have permission to view or edit anything." %}</p>
{% endif %}

</div>
{% endblock %}

{% block sidebar %}
{{ block.super }}
{% endblock %}